<div class="d-flex align-items-center justify-content-between mainContainer">
    <div class="textDiv">
      <p class="h3 foodTitle">{{food.title}}</p>
      <p class="family-q">
        <strong class="h5 mt-3 family-q">Preparation Time: </strong>{{food.readyInMinutes}} minutes
      </p>
      <p class="family-q">
        <strong class="h5 mt-3">Serves: </strong>{{food.servings}} persons
      </p>
      <p class="family-q">
        <strong class="h5 mt-3">Usual sale price: </strong>U${{food.pricePerServing}}
      </p>
      <p class="family-q">
        <strong class="h5 mt-3">Vegetarian: </strong>
        <span *ngIf="food.vegetarian=== true; else negativeResponse">Yes</span>
      </p>
      <p class="family-q">
        <strong class="h5 mt-3">Vegan: </strong>
        <span *ngIf="food.vegan === true; else negativeResponse">Yes</span>
      </p>
      <p class="family-q">
        <strong class="h5 mt-3">Healthy: </strong>
        <span *ngIf="food.veryHealthy === true; else negativeResponse">Yes</span>
      </p>
      <p class="family-q">
        <strong class="h5 mt-3">Popular: </strong>
        <span *ngIf="food.veryPopular === true; else negativeResponse">Yes</span>
      </p>
      <p class="recipeLiked family-q">
        <strong>Liked this recipe? </strong>
        <span><a href={{food.sourceUrl}} target="_blank">Click here</a> and do it yourself!</span>
      </p>
    </div>
    <div class="imgDiv">
      <img src={{food.image}} alt={{food.title}} class="foodImg" *ngIf='food.image; else noImage'>
    </div>
  </div>
  
<app-similar-recipe [recipeIdSimilar]="recipeIdSimilar"></app-similar-recipe>
  
  <div *ngIf="loading" class="spinner-border d-block mx-auto my-5" role="status">
  </div>
  
  <ng-template #negativeResponse>
    No
  </ng-template>
  
  <ng-template #noRecipe>
    <p class="text-center my-5"><strong>No similar recipes at the moment :(</strong></p>
  </ng-template>
  
  <ng-template #noImage>
    <p class="mt-3 text-center h4">
      <strong>
        <u>No image at the moment :(</u>
      </strong>
    </p>
  </ng-template>