<div class="mb-5 pt-3 px-5 pb-3 divHeader sticky-top">
    <header class="align-items-center">
        <div class="d-flex flex-row align-items-center">
            <a routerLink="/" class="me-2 justify-content-center d-flex flex-row align-items-center gap-2">
                <img src="../../../assets/delibites.png" alt="delibitesLogo" class="logo">
                delibites
            </a>
        </div>
        <nav class="d-flex align-items-center gap-5">
            <a routerLink="/about" class="header-texts">Sobre</a>
            <a routerLink="/search" class="header-texts">Pesquisa</a>
        </nav>
    </header>
</div>