<div class="aboutContainer">
    <h2> What is delibites?</h2>
    <p>
        Delibites is a free Angular-based application bootstraped with Spoonacular API to give you lots of amazing recipes, along with the instructions to prepare them properly.
        We give you lots of options of food preps, allowing you to search through the long roads of cooking!
    </p>
    <h2> What's our goal?</h2>
    <p>
        We try to not only train our Angular Skills building an amazing site, but we also look for giving you a nice way of inspiring your cooking.
        Since the API counts with lots of options for your needs, there's also something interesting that can be found in our database, giving you plenty of ways of imagining your cooking from now on!
    </p>
    <h2> Am I going to pay for that?</h2>
    <p>
        Absolutely not! Since Delibites is made with non-profit goals and means, you won't need to pay a single toast to browse it!
        That means: LOTS of free recipes and grub options to get you covered, along with zero cost for your bolsillos! Could it get any better than that? I find it really hard!
    </p>
    <h2> Then, how to use it?</h2>
    <p>
        Using Delibites is even easier than creating it! You only need to browse our options and explore all of its contents (even if we don't think it's possible, since it's ENORMOUS!), and have fun looking for the food that most fulfills your needs.
        After that, you can give us a star on GitHub, we would appreciate it a lot!
    </p>
    <h6>Davi Batista - 2023</h6>
</div>
