/*-------------------------------------------------------------------<COLORS>----------------------------------------------------------------------------------------------*/
/*Chosen color palette was obtained from Color Hunt: https://colorhunt.co/palette/fffad7ffe4a7ff90bbff2171*/
/*darkest-pink*/    $darkPink: #FF2171;
/*lightest-pink*/   $lightPink: #FF90BB;
/*lightest-yellow*/ $lightYellow: #FFE4A7;
/*basic-color*/     $basic: #FFFAD7;

/*-------------------------------------------------------------------<FONTS>----------------------------------------------------------------------------------------------*/
/*font-family: 'Outfit'*/           $o: 'Outfit';
/*font-family: 'Quicksand'*/        $q: 'Quicksand';
/*font-family: 'Ysabeau Infant'*/   $yi: 'Ysabeau Infant';

/*----------------------------------------------------------<TRANSITIONS AND EFFECTSN>------------------------------------------------------------------------------------*/
@mixin toPink   /*used to transition from $darkPink texts*/   { 
    color: $lightPink;
    filter:contrast(150%);
    transform: scale(1.02);
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------<STYLES FOR THE MAIN APPLICATION>---------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.flex-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: $basic;
    color: $darkPink;
}

main    {
    flex: 1 0 auto;
}