<div class="d-flex flex-wrap gap-3 justify-content-center px-5">
    <div routerLink="/recipe" [queryParams]="{id: food.id}" *ngFor="let food of foods" class="food-card">
      <div>
        <img src={{food.image}} alt={{food.title}} class="imageCard" *ngIf="food.image; else noImage">
      </div>
      <div class="food-information">
        <p class="foodTitle text-center">{{food.title}}</p>
        <p class="foodPrepTime text-center">{{food.readyInMinutes}} minutes</p>
        <p class=" text-center">
          <img src="https://img.icons8.com/?size=1x&id=UV9wXr8E86OZ&format=png" *ngIf="food.vegan === true; else negativeRes" alt="yes" class="yesOrNo">
          <strong class="vegetarianAndOrVeganYes" *ngIf="food.vegetarian === true; else noVegetarian">vegetarian</strong>
        </p>
        <p class=" text-center">
          <img src="https://img.icons8.com/?size=1x&id=UV9wXr8E86OZ&format=png" *ngIf="food.vegan === true; else negativeRes" alt="yes" class="yesOrNo">
          <strong class="vegetarianAndOrVeganYes" *ngIf="food.vegan === true; else noVegan">vegan</strong>
        </p>
      </div>
    </div>
  </div>
  
  <div *ngIf="loading" class="spinner-border d-block mx-auto" role="status"></div>
  
  <div *ngIf="loadingMore" class="spinner-border d-block mx-auto my-4" role="status"></div>
  
  <ng-template #noImage>
    <p class="mt-3 py-3 text-center"><strong>No image at the moment :(</strong></p>
  </ng-template>
  
  <ng-template #negativeRes>
    <img src="https://img.icons8.com/?size=1x&id=7KfGv0q2npp0&format=png" alt="no" class="yesOrNo">
  </ng-template>

  <ng-template #noVegetarian>
    <strong class="vegetarianAndOrVeganNo">vegetarian</strong>
  </ng-template>

  <ng-template #noVegan>
    <strong class="vegetarianAndOrVeganNo">vegan</strong>
  </ng-template>
  
  <button (click)="loadMore()" *ngIf="foods?.length < 9; else buttonDisabled" type="button"
    class="btn d-block mx-auto mt-4 pinkBg">Load more</button>
  
  <ng-template #buttonDisabled>
    <button type="button" class="btn disabled btn-secondary d-block mx-auto mt-4">Load more</button>
  </ng-template>